::placeholder {
  color: white !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white !important;
}

a {
  color: inherit !important;
}

.centered-label {
  display: flex;
  align-items: center;
}

.hiden-label {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.hiden-label-container:hover .hiden-label {
  visibility: visible;
  opacity: 1;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}